.primary{
    margin-top: 2rem;
    border-radius: 5px;
    height: 4rem;
    width: 8rem;
    border-width: 0;
    background-color: #ADD8E6;
    font-size: 1.5rem;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    margin:3rem;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding:2rem;

}

.main{
    width: 98vw;
}

.pokemon-name{
    width: 16rem;
}